<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.app.repository.CustRepository">

    <select id="selectOne" parameterType="String" resultType="CustDto">
        SELECT * FROM cust WHERE cust_id=#{id}
    </select>
    <select id="select" resultType="CustDto">
        SELECT * FROM cust
    </select>
    <insert id="insert" parameterType="CustDto">
        INSERT INTO cust VALUES (#{id},#{pwd},#{name})
    </insert>
    <update id="update" parameterType="CustDto">
        UPDATE cust SET cust_pwd=#{pwd},cust_name=#{name} WHERE cust_id=#{id}
    </update>
    <delete id="delete" parameterType="String">
        DELETE FROM cust WHERE cust_id=#{id}
    </delete>

    <select id="findByName" parameterType="String" resultType="CustDto">
        SELECT * FROM cust where cust_name LIKE CONCAT('%', #{name}, '%');
    </select>
</mapper>